fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart
httpx
aiofiles
python-dotenv
alembic
pytest
pytest-asyncio
slowapi
psycopg2-binary
pydantic[email]